@import "../../../index.scss";

.signup-page {
  background-color: $background;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .card {
    width: 800px;
    min-height: 630px;

    .radio {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 300px;

      @media (max-width: 474px) {
        display: block;
      }

      /* Change the color of the line between radio buttons */
      .ant-radio-button-wrapper-checked:not(
          .ant-radio-button-wrapper-disabled
        ):first-child {
        border-color: red;
      }

      .ant-radio-button-wrapper-checked:not(
          .ant-radio-button-wrapper-disabled
        ) {
        background-color: #82cec4;
        border: none;
        color: #fff;

        &:hover {
          color: #fff;
          font-size: 16px;
        }
      }
      .ant-radio-button-wrapper {
        background-color: $background;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin-bottom: 1.5rem;

        &:hover {
          color: #82cec4;
          font-size: 16.3px;
        }
      }

      .students,
      .institutions, .supervisor {
        flex: 1;
        font-size: 16px;
        border-radius: 2rem;
      }
    }
  }

  .login-span {
    font-weight: 600;
    a {
      text-decoration: none;
      color: #4a98ae;
      font-weight: 600;
    }
  }
}
