@import "../../../index.scss";

.InstitutionInfoCard {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 2rem;
    border-top: 2px solid $steelTeal;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #fff;
    gap: 12px;
    width: 300px;
    min-height: 250px;
    font-size: 15px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);

    @media (max-width: 831px) {
      width: 100%;
    }

    .title {
      color: $steelTeal;
      text-align: center;
      font-size: 17px;
      font-weight: 500;
    }

    .details {
      display: flex;
      gap: 5px;

      .label {
        font-weight: 500;
        color: #808080;
      }
    }
  }
