@import "../../../../index.scss";

.new-details {
  text-align: right;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;

  .container {
    display: flex;
    align-items: center;
    h1 {
      font-size: 28px;
      font-weight: bolder;

      @include breakpoint-down(small) {
        font-size: 20px;
      }
    }

    .space {
      margin-right: 1rem;
    }
    .institution-img {
      background-color: #fff;
      padding: 2px;
      border: 1px solid #e9f3f8;
      border-radius: 50%;
      width: 90px;
      object-fit: contain;
      height: 90px;

      @include breakpoint-down(small) {
        width: 70px;
        height: 70px;
      }
    }
  }
  p {
    margin-top: 1rem;
    font-size: 17px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding-bottom: 1em;
    color: #333;
    text-align: justify;
    font-weight: 400;
  }
}
