@import "../../../index.scss";

.trainingOpportunities {
  margin-bottom: 1rem;
  @include breakpoint-down(small) {
    padding: 0 3rem;
  }

  .filterContainer {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    padding: 20px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;

    form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;

    

      .form-item {
        margin: 0;
        width: 18vw;

       

        label {
          font-weight: 500;
        }
      }

      @media (max-width: 690px) {
        .form-item {
          width: 100%;
          gap: 0;
        }
        & {
          gap: 5px;
        }
      }
    }

    .search-btn {
      background-color: $Green;
      width: 100px;
      font-weight: 600;
      margin: auto;
    }
  }

  main {
    margin-top: 1.5rem;
  }
}
