@import "../../../index.scss";

.table-filter-select {
   
  span {
    font-weight: 500;
  }

  .filterSelect {
    width: 300px;
  }

  @include breakpoint-down(small) {
    flex-direction: column;
    padding: 1rem;
  }

  // .button-filter {
  //   border: 0px;
  //   background-color: #fafcff;
  //   font-weight: 500;
  //   font-size: 1rem;
  //   margin: 0 5px;
  //   @include breakpoint-down(medium) {
  //     margin: 0.25rem;
  //   }
  // }
}
