@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import "../../../../index.scss";

.mod {
  text-align: center;

  .ant-modal-title {
    color: $coralRed;
  }

  .delText {
    font-weight: 600;
    font-size: 1rem;
  }

  .smallDelText {
    font-weight: 400;
    font-size: 1rem;
    color: $coralRed;
  }

  .StudentsModal {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .delButton {
      background-color: $coralRed;
      color: white;
      font-weight: 600;
      font-size: 1rem;
      margin-left: 2rem;
    }
    .cancelButton {
      background-color: $Green;
      color: white;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
