@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import "../../../../index.scss";

.StudentModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    bottom: 1rem;

    .avatar {
      background-color: #82cec4;
    }

    .avatar-name {
      color: #808080;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .row {
    .col-one,
    .col-two {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 5px;
    }
  }

  .fiels-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    flex-wrap: wrap;

    @media (max-width: 552px) {
        flex-direction: column;
        align-items: start;
        gap: 6px;
    }
  }

  .space {
    display: flex;
    align-items: center;
    gap: 5px;

    .label {
      color: $steelTeal;
      font-weight: 600;
    }

    .text {
      color: #000;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #038b67;
      padding-top: 0;
      font-weight: 500;
      height: 25px;

      &:hover {
        background-color: #7fb9b1 !important;
      }
    }
  }
}
