@import "../../index.scss";

.container-layout {
  // min-height: 200px;
  min-height: 100vh;
}

.container-layout > div > section {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 2rem;
  gap: 2rem;

  @include breakpoint-down(small) {
    padding: 0;
  }
}
