@import "../../../index.scss";

.reset-password {
  margin: 2rem 0 2rem 0;
  .card {
    h1 {
      font-size: 19px;
      font-weight: 600;
    }
    .form {
      .error-message {
        display: block;
        color: red;
        margin-top: 10px;
      }
    }
  }
}
