@import "../../../index.scss";

.reset-password {
  .card {
    h1 {
      font-size: 19px;
      font-weight: 600;
    }
    form {
      .error-message {
        display: block;
        color: red;
      }
    }
  }
}
