@import "../../../index.scss";

.institution-profile {
  padding: 1rem;
  .profileImage {
    display: flex;
    align-items: center;

    .name {
      font-size: 25px;
      font-weight: 500;
    }
  }
  .save-button {
    width: 120px;
    margin-bottom: 15px;
    background-color: #008374;
    font-weight: 500;
    margin-top: 10px;

    &:disabled {
      background-color: rgb(190, 190, 190);
    }
  }

  .card {
    margin-bottom: 2rem;

    h1 {
      font-size: 19px;
      font-weight: 600;
    }

    form {
      .upload-file {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
