.info-card {
  min-height: 250px;

  .card-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #008374;
    white-space: normal;
  }

  .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
