@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import "../../../index.scss";

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  @include breakpoint-down(small){
    align-items: center;
    margin: 0.75rem auto;
    width: 95%;
  }

  .Header {
    margin-bottom: 1rem;
  }

  .inactiveBtn {
    background-color: #F46A61;
    color: white;
    font-weight: 600;
    font-size: 1rem;
  }
  .activeBtn {
    background-color: $Green;
    color: white;
    font-weight: 600;
    font-size: 1rem;
  }

  .rangeText {
    color: #008374b2;
    font-size: larger;
    margin-bottom: 1rem;
    font-weight: 500;
  }
 
    .newBtn {
      background-color: #01AD7E;
      color: white;
      font-size: 15px;
      font-weight: 500;
      width: fit-content;
      margin-bottom: 1rem;
    }

    .icon {
      margin-left: 1rem;
    }
    .excelContainer{
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      align-items: center;

      @include breakpoint-down(small){
          flex-direction: column;
      }

      .excelBtn{
          margin-right: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #008374;
          color: #fff;

          .excelSpan{
              padding-right: 0.5rem;
          }

          @include breakpoint-down(small){
              margin: 0;
              width: 100%;
              justify-content: center;
              align-items: center;
          }
      }
  }
}
