//COLORES
$Green: #249283;
$limeGreen: #cdf8e8;
$grayishBlue: #d9d9d9;
$lightGreen: #4a98ae;
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$steelTeal:#4A98AE;
$steelBlue:#4A98AE;
$background: #FAFCFF;
$customCardBorder: #82cec4;

//FONT-SIZE
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 2.25rem;

$font-inter-regular: "Inter", sans-serif;

