@import "../../../../index.scss";

.AboutMain {
  margin-top: 20px;

  .title {
    position: relative;
    text-align: center;
    font-size: 25px;
  }

  .title::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    background: $Green;
    width: 55px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .aboutContainer {
    display: flex;
    gap: 15px;
    margin-top: 60px;

    @include breakpoint-down(small) {
      flex-direction: column;
    }

    //content
    .aboutContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 100px;

      @include breakpoint-down(small) {
        text-align: center;
      }

      .platfrompar,
      .platfromvio {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h5 {
          color: $lightGreen;
          font-family: $font-inter-regular;
          font-size: $font-med;
        }

        p {
          font-weight: 500;
        }
      }
    }

    //img
    .imgDuontone {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        max-width: 100%;

        @include breakpoint-down(small) {
          max-width: 40rem;
        }
      }
    }
  }
}
