@import "../../../../index.scss";

.AboutMain {
  margin-top: 20px;

  .title {
    position: relative;
    text-align: center;
    font-size: 25px;
  }

  .title::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    background: $Green;
    width: 55px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .aboutContainer {
    display: flex;
    gap: 15px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;

    @include breakpoint-down(small) {
      flex-direction: column;
    }

    //content
    .aboutContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 100px;
      flex-grow: 2;

      @include breakpoint-down(small) {
        text-align: center;
      }

      .platfrompar,
      .platfromvio {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-right: 10px;

        h5 {
          color: $lightGreen;
          font-family: $font-inter-regular;

          @include breakpoint-up(large) {
            font-size: $font-xlg;
          }
        }

        p {
          font-weight: 500;
          @include breakpoint-up(large) {
            font-size: $font-lg;
          }
        }
      }
    }

    //img
    .imgDuontone {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 2;
      img {
        width: 100%;
        height: auto;
        max-width: 100%;

        @include breakpoint-down(small) {
          max-width: 40rem;
        }
      }
    }
  }
}
