@import "../../../../index.scss";

.newest-posts {
  .NewestPostMain {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $Green;

    .NewsetPostContainer {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .ant-list-pagination {
      display: flex;
      justify-content: center;
      background-color: #fcfcfc;
      width: 100%;
      padding: 5px;
    }

    .ant-row {
      justify-content: center;
    }

    .ant-pagination-mini {
      margin-top: 10px;
      justify-content: center;
    }
  }

  .title {
    position: relative;
    text-align: center;
    font-size: 25px;
  }

  .title::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    background: $Green;
    width: 55px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .ReadMore {
    background-color: $limeGreen;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    color: $steelTeal;
    font-weight: 600;
  }
}
