@import "../../../../index.scss";

.NewestPostMain {
  margin-top: 20px;
  margin-bottom: 20px;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  // gap: 20px;

  width: 100%;
  background-color: $Green;

  //   .NewsetPostContainer {
  //     display: flex;
  //     flex-direction: column;
  // justify-content: center;
  //     margin-top: 1rem;
  //     margin-bottom: 1rem;
  //   }

  .ant-list-pagination {
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    width: 100%;
    padding: 5px;
  }

  .ant-row {
    justify-content: center;
  }

  .ant-pagination-mini {
    margin-top: 10px;
    justify-content: center;
  }
}

.title {
  position: relative;
  text-align: center;
  font-size: 25px;
}

.title::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
  background: $Green;
  width: 55px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
