@import "../../../index.scss";

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .login {
    .card {
      h1 {
        text-align: center;
      }

      .label {
        color: #808080;
        font-weight: 500;
        display: block;
        margin-bottom: 5px;
      }

      .login-button {
        background-color: $Green;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }

      .login-register {
        display: block;
        font-weight: 600;
        button {
          color: $steelTeal;
          font-weight: 600;
        }
      }
    }
  }
}
