@import "../../../index.scss";
.register {
  flex-grow: 1;
  display: flex;
  gap: 10px;

  .signUpNavBar,
  .loginNavBar {
    font-style: normal;
    font-weight: 700;
    color: $white;
    font-size: $font-sm;
    font-family: $font-inter-regular;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
  }

  .signUpNavBar {
    color: black;
    background-color: $grayishBlue;
    border: none;
    text-decoration: none;
  }
  .loginNavBar {
    text-decoration: none;
    background-color: $Green;
    border: 1px solid white;
  }
}
