@import "./scss/Variables.scss";
@import "./scss/Mixins.scss";

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  // background-color: red;
  //   height: 100%;
}

body {
  background-color: $white;
  min-height: 100%;
  min-width: 100%;
  text-align: right;
}

.ant-list-pagination{
  direction: ltr;
}

.ant-pagination {
  color: black;
  @include breakpoint-down(medium) {
    width: 100%;
  }
  .ant-pagination-item {
    a {
      color: black;
      opacity: 90%;
    }
  }
  .ant-pagination-item-active {
    border: 1px solid $Green;
    a {
      color: $Green;
    }
  }
  .ant-pagination-prev {
    a {
      color: $Green;
    }
  }
  .ant-pagination-disabled {
    a {
      color: $Green;
      opacity: 50%;
    }
  }

  .ant-pagination-next {
    a {
      color: $Green;
    }
  }

}
