@import "./scss/Variables.scss";
@import "./scss/Mixins.scss";

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: $background;
  min-height: 100%;
  min-width: 100%;
  overflow: overlay;
}

.filterTable {
  display: flex;
  flex-direction: row;
  border-top: 1px solid $steelTeal;
  border-bottom: 1px solid $steelTeal;
  margin-bottom: 1rem;
  background-color: $white;
  padding: 0.5rem;
  flex-wrap: wrap;

  @include breakpoint-down(small) {
    flex-direction: column;
    padding: 1rem;
  }

  .button-filter {
    border: 0px;
    background-color: #fafcff;
    font-weight: 500;
    font-size: 1rem;
    margin: 0 5px;
    @include breakpoint-down(medium) {
      margin: 0.25rem;
    }
  }
}

.btnContainer {
  .acceptBtn {
    background-color: #01ad7e;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }

  .rejectBtn {
    background-color: #f46a61;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }
}

.ant-pagination {
  color: black;
  @include breakpoint-down(medium) {
    width: 100%;
  }
  .ant-pagination-item {
    a {
      color: black;
      opacity: 90%;
    }
  }
  .ant-pagination-item-active {
    border: 1px solid $Green;
    a {
      color: $Green;
    }
  }
  .ant-pagination-prev {
    a {
      color: $Green;
      @include breakpoint-down(small) {
        margin-left: 0.5rem;
      }
    }
  }
  .ant-pagination-disabled {
    a {
      color: $Green;
      opacity: 50%;
    }
  }

  .ant-pagination-next {
    a {
      color: $Green;
      @include breakpoint-down(small) {
        margin-right: 0.5rem;
      }
    }
  }
}

.green-underline {
  border-bottom: 1px solid $Green;
  padding-bottom: 10px;
  margin-bottom: 1rem;
}

.form-btn {
  background-color: #51a59a;
  width: 120px;
  font-weight: 600;

  &:hover{
  background-color: #459389 !important;
  }
}
