@import "../../../index.scss";
.startUpContainer {
  background-color: $Green;
  display: flex;
  gap: 50px;
  align-items: center;
  .startUpimg {
    width: 50%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .startupContnent {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;

    div {
      p {
        font-size: $font-lg;
        margin-bottom: 20px;
        color: $white;
      }

      button {
        font-style: normal;
        font-weight: 700;
        font-size: $font-med;
        font-family: $font-inter-regular;
        cursor: pointer;
        padding: 5px 40px 5px 40px;
        border-radius: 5px;
        color: black;
        background-color: $limeGreen;
        border: none;
      }
    }
  }
}
