@import "../../index.scss";
.navBarMenu {
  background-color: $Green;
  color: $white;
  font-family: $font-inter-regular;
  font-weight: 500;
  flex-grow: 5;
  padding: 10px;
}
@include breakpoint-down(small) {
  .headerMenu {
    display: none;
  }
}

@include breakpoint-up(medium) {
  .menuIcon {
    display: none;
  }
}

.ant-menu-title-content {
  color: white;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
  border-bottom-color: white;
}
.ant-menu-light.ant-menu-horizontal > .ant-menu-item-active::after {
  border-bottom-color: white;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
  border-bottom-color: white;
}
