@import "../../index.scss";

.navbar {
  padding: 10px;
  background-color: $Green;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    display: flex;
    align-items: center;
    padding-right: 20px;
    //mobile
    @include breakpoint-down(small) {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .logo {
        .link {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .huborger {
      display: none;
      // mobile menu button
      @include breakpoint-down(small) {
        display: block;
      }
    }

    .logo {
      .link {
        font-size: $font-lg;
        margin-left: 40px;
        text-decoration: none;
        color: $white;
        font-weight: 700;
        font-family: $font-inter-regular;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 20px;

      .link {
        text-decoration: none;
        h6 {
          font-style: normal;
          font-weight: 700;
          font-size: $font-sm;
          color: $white;
          font-family: $font-inter-regular;
          text-decoration: none;
        }
      }

      @include breakpoint-down(small) {
        display: none;
      }
    }
  }

  .register {
    display: flex;
    gap: 10px;
    justify-content: center;
    @include breakpoint-down(small) {
      display: none;
    }
    button {
      font-style: normal;
      font-weight: 700;
      font-size: $font-sm;
      color: $white;
      font-family: $font-inter-regular;
      cursor: pointer;
      padding: 5px 20px 5px 20px;
      border-radius: 10px;
    }

    button:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
        0 6px 20px rgba(34, 33, 33, 0.19);
      transition: box-shadow 0.5s ease-out;
    }

    button:first-child {
      color: black;
      background-color: $grayishBlue;
      border: none;
    }
    button:last-child {
      background-color: $Green;
      border: 1px solid white;
    }
  }
}

//for mobile
.mobile_link {
  font-style: normal;
  font-weight: 700;
  font-size: $font-sm;
  color: black;
  font-family: $font-inter-regular;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
}

.mobile_link:nth-child(2n + 1) {
  border-bottom: 1px solid #ddd;
}
